extends ../layout

block scripts
	script(src="/javascripts/editor.js")

block content
	-
		// Expects variables: metric, metric_types
		metric_id = metric.metric_id || null
		options = metric.options
		name = metric.name || ""
		title = options['title'] || ""
		type = metric.type ? metric.type.slug : "one-way"

	form.pure-form(method="POST")
		dl
			if metric_id
				+field("Metric UUID")
					a(href="/api/preview/#{metric.metric_id}")= "View"
					| : 
					span= metric_id
					input(
						name= "id"
						type= "hidden"
						value= "#{metric_id}"
						autocomplete= "off"
					)
			+field("Name")
				input(
					name= "name"
					type= "text"
					value= "#{name}"
					autocomplete= "off"
				)
			+field("Type")
				select.switch(name="type", data-anchor=".options")
					each object, slug in metric_types
						option(value="#{slug}", selected=(type == slug))
							| #{object.title}
				if metric_id
					br
					small: em= "Warning! Changing the type will ruining your existing votes and scoring. TODO: Fix this."
			+field("Display Title")
				input(
					name= "options[title]"
					type= "text"
					value= "#{title}"
					autocomplete= "off"
				)

		each metric_type in metric_types
			-
				html = metric_type.render_options({
					slug: metric_type.slug,
					options: metric.options,
					blueprints: blueprints,
				});

			+options(metric_type.slug, type)
				| !{html}

		input.pure-button.pure-button-primary(type="submit", value="Save")
		if metric_id
			a.pure-button(href="/metrics/destroy/#{metric_id}")= "Delete"

	if metric_id
		br
		strong= "Preview"
		hr
		iframe(src="/api/preview/#{metric_id}", frameborder="0")


mixin options(slug, active_type)
	dl.options(
		class=slug
		style=(slug == active_type ? '' : "display:none;")
	)
		block

mixin field(title)
	dt= title
	dd
		block
