doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/metric-base.css')
		link(rel="stylesheet", href="/fontello/css/evaluate.css")
		link(rel="stylesheet", href="/fontello/css/animation.css")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	body
		strong.title= metric['options']['title']
		block content
		pre= JSON.stringify(metric['options'])
	footer
		script.
			data = {
				vote_url: "/api/vote/#{metric['metric_id']}",
				metric_id: "#{metric['metric_id']}",
				context_id: "context",//"#{context_id}",
				user_id: "user",//#{context_id},
				nonce: "none", // TODO: Implement nonces
			};
		script(src="/javascripts/metrics.js")
