extends layout

block content
	a(href="/manage/create")= "Create"
	table
		thead
			tr
				th= "Metric"
				th= "Actions"
				th= "Created On"
		tbody
			each metric in metrics
				tr
					td= metric['name']
					td
						a(href="/metric/#{metric['metric_id']}")= "View"
						| /
						a(href="/manage/edit/#{metric['metric_id']}")= "Edit"
					td= new Date( metric['created'] ).toLocaleString()