extends layout

block content
	table.pure-table.pure-table-horizontal
		thead
			tr
				th= "Metric"
				th= "Type"
				th= "Actions"
				th= "Created On"
		tbody
			each metric in metrics
				-
					metric_id = metric.metric_id
					name = metric.name
					type = metric.type.slug
					created = metric.created

				tr
					td= name
					td= type
					td
						a(href="/manage/edit/#{metric_id}")= "Edit"
						|  / 
						a(href="/metric/#{metric_id}")= "View"
					td= new Date( created ).toLocaleString()