extends layout

block content
	if user
		div= "You are logged in."
		pre= JSON.stringify(user)
		pre= JSON.stringify(account)
	else
		h3
			| Login with 
			a(href="/login/saml")= "SAML"
		h3
			| Login with 
			a(href="/login/cas")= "CAS"
