extends ../layout

block content
	-
		blueprint_id = blueprint.blueprint_id
		title = blueprint.name || ""
		description = blueprint.description || ""

	form.pure-form(method="POST")
		p
			| Are you sure that you want to delete Rubric ##{blueprint_id}?
		p
			strong= title
			br
			| #{description}
		ul
			li= "All metrics associated with this rubric will be disabled."
			li= "All submetrics will be deleted."

		input.pure-button.pure-button-primary(type="submit", value="Delete")
		a.pure-button(href="/blueprints/edit/#{blueprint_id}")= "Back"
