
mixin field(title)
	dt= title
	dd
		block


-
	// Expects variables options, slug
	answers = options['answers'] || ""
	multiselect = options['multiselect'] || false

+field("Answers")
	textarea(
		name= "options[answers]"
		autocomplete= "off"
		rows= "6"
	)= answers
	br
	small: em= "One answer per line."

+field("Allow Multiple Selections")
	label
		input(
			name= "options[multiselect]"
			type= "checkbox"
			value= "on"
			autocomplete= "off"
			checked= (multiselect == "on")
		)
		|  Enabled
