
mixin field(title)
	dt= title
	dd
		block

-
	// This file defines the fields that are used to edit a metric of this type.
	// Expects variables options, slug

	icons = {
		numeric: "Numeric",
		slider: "Slider",
		stars: "Stars",
		thumbs: "Thumbs",
	}

	icon = options['icon'] || "stars"
	max = options['max'] || 5

+field("Icon")
	select(name="options[icon]")
		each title, slug in icons
			option(value="#{slug}", selected=(icon == slug))
				| #{title}
+field("Max")
	input(
		name= "options[max]"
		type= "number"
		value= "#{max}"
		autocomplete= "off"
	)