
mixin field(title)
	dt= title
	dd
		block

-
	// Expects variables options, slug, blueprints

	selected_id = options['blueprint'] || ""

+field("Blueprint")
	select.switch(name="options[blueprint]", data-anchor=".blueprint")
		option(value="")
			| - Choose a Blueprint -
		each blueprint in blueprints
			option(value="#{blueprint.blueprint_id}", selected=( selected_id == blueprint.blueprint_id))
				| #{blueprint.name}

	each blueprint in blueprints
		div.blueprint(class=blueprint.blueprint_id, style=( blueprint.blueprint_id == selected_id ? '' : "display:none;" ))
			p #{blueprint.description}

			ul
				each field in blueprint.submetrics
					-
						field_options = field.options
						field_title = field_options['title'] || "Untitled"
						field_type = field.type ? field.type.title : "no-type"
						field_weight = field.weight || 1
					li
						strong= field_title
						|  with type #{field_type} and weight x#{field_weight}
						br
						| #{JSON.stringify(field.options)}
