extends ../layout

block content
	div.pure-g
		div.pure-u-1-2
			table.pure-table.pure-table-horizontal
				thead
					tr
						th= "Metric"
						th= "Type"
				tbody
					if metrics.length > 0
						each metric in metrics
							-
								metric_id = metric.metric_id
								name = metric.name
								type = metric.type.slug

							tr
								td
									a(href="/data/#{metric_id}")= name
								td= type
					else
						tr
							td(colspan="2"): em= "There's nothing here."
		div.pure-u-1-2
			dl
				dt= "Total Metrics"
				dd= metrics.length
				dt= "Total Contexts"
				dd= "TODO"
				dt= "Total Users"
				dd= "TODO"