extends ../layout

block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")

block content
	-
		var users = {}
		var users_count = 0
		for ( var i in votes ) {
			var vote = votes[i];
			if ( users[vote.user_id] == null ) {
				users[vote.user_id] = {
					vote_count: 0,
					vote_sum: 0,
				}
				users_count++
			}

			var user = users[vote.user_id]
			user.vote_count += 1
			user.vote_sum += vote.value
		}

	div
		strong= "Title: "
		span= metric.name
		br
		strong= "Type: "
		span= metric.type.slug
		br
		strong= "ID: "
		span= metric.metric_id
		br
		strong= "Settings: "
		span= JSON.stringify(metric.options)
	br

	div.pure-g
		div.pure-u-1-2
			- var score_sum = 0
			table.pure-table.pure-table-horizontal
				thead
					tr
						th= "ID"
						th= "Context"
						th= "Vote Count"
						th= "Average"
						th= "Order"
				tbody
					each score in scores
						-
							context_id = score.context_id
							score_sum += score.average

						tr
							td= score.id
							td= score.context_id
							td= score.count
							td= score.average
							td= score.sorting
			dl
				dt= "Total Contexts"
				dd= scores.length
				dt= "Average Rating"
				dd= score_sum / scores.length
		div.pure-u-1-2
			- var vote_rate_sum = 0
			table.pure-table.pure-table-horizontal
				thead
					tr
						th= "User"
						th= "Vote Rate"
						th= "Average Rating"
				tbody
					each user, user_id in users
						-
							vote_rate = user.vote_count / scores.length
							vote_rate_sum += vote_rate
						tr
							td= user_id
							td= vote_rate
							td= user.vote_sum / user.vote_count
			dl
				dt= "Total Users"
				dd= scores.length
				dt= "Average Vote Rate"
				dd= vote_rate_sum / users_count
			-//canvas#vote-chart(width="400", height="400")


	-
		/*
		pre= "Metric: " + JSON.stringify( metric, null, '\t' )
		pre= "Votes: " + JSON.stringify( votes, null, '\t' )
		pre= "Scores: " + JSON.stringify( scores, null, '\t' )
		*/

	-// Refactor this into a seperate file
	script
		/*
		Date.prototype.getWeek = function() {
			var onejan = new Date( this.getFullYear(), 0, 1 );
			return Math.ceil( ( ( ( this - onejan ) / 86400000 ) + onejan.getDay() + 1 ) / 7 );
		};

		var context = document.getElementById("vote-chart").getContext("2d");
		var chart = new Chart( context ).Bar( data, {} );
		*/
