extends ../layout

block scripts
	script(src="/javascripts/editor.js")
	script(src="/javascripts/editor-rubrics.js")

block content
	-
		// Expects variables: rubric, submetrics
		rubric_id = rubric.rubric_id || null
		name = rubric.name || ""
		description = rubric.description || ""

	form.pure-form(method="POST")
		if rubric_id
			input(
				name= "rubric_id"
				type= "hidden"
				value= "#{rubric_id}"
				autocomplete= "off"
			)
		dl
			+field("Name")
				input(
					name= "name"
					type= "text"
					value= "#{name}"
					autocomplete= "off"
				)
			+field("Description")
				textarea(
					name= "description"
					autocomplete= "off"
				)= description
			+field("Fields")
				ul.submetric-list(style="margin: 0; padding:0; list-style: none;")
					- // TODO: Refactor that inline style ^
					each submetric in submetrics
						+submetric(submetric, metric_types)

					+submetric("", metric_types)
					
		input.pure-button.pure-button-primary(type="submit", value="Save")

mixin field(title)
	dt= title
	dd
		block

mixin submetric(submetric, metric_types)
	-
		submetric_id = submetric.id || ""
		type = submetric.type ? submetric.type.slug : ""
		options = submetric.options || {}
		title = options.title || ""
		weight = options.weight || 1.0

	li.submetric(class= type ? "" : "empty")
		if submetric_id
			input(
				name= "id"
				type= "hidden"
				autocomplete= "off"
				value= submetric_id
			)
		select.switch(name="type", autocomplete="off", data-anchor=".options", data-siblings="true")
			option(value="")= type != "" ? "- Delete -" : "- Choose -"
			each title, slug in metric_types
				option(value="#{slug}", selected=(type == slug))
					| #{title}
		input(
			name= "options[title]"
			type= "text"
			placeholder= "Title"
			autocomplete= "off"
			value= title
		)
		input(
			name= "weight"
			type= "text"
			placeholder= "Weight"
			autocomplete= "off"
			value= weight
		)

		if submetric_id
			br
			small: em= "Warning! Changing the submetric type will seriously mess up your existing votes and scoring. TODO: Fix this"

		each title, slug in metric_types
			-
				html = locals['render_'+slug]({
					slug: slug,
					options: options,
				})
			+options(slug, type)
				| !{html}

mixin options(slug, active_type)
	dl.options(
		class=slug
		style=(slug == active_type ? '' : "display:none;")
	)
		block
